.card--container {
  background-color: rgb(130, 223, 203);
  /* width: 100%; */
  min-width: 90%;
  padding: 0.5em;
  border-radius: 1em;
}

.card--inner {
  display: flex;
  background-color: rgb(219, 255, 255);
  border-radius: 1em;
}

img {
  width: 200px;
  min-width: 100%;
  height: 14em;
}

.card--title {
  text-align: center;
}

.app--container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (max-width: 1000px) {
  .app--container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3em;
  }

  img {
    height: 25em;
  }
}

@media only screen and (max-width: 440px) {
  img {
    height: 15em;
    width: 1em;
  }
}

.score--container {
  display: flex;
  gap: 35px;
  justify-content: center;
  color: wheat;
}

.game--title {
  text-align: center;
  color: antiquewhite;
}

.app--rules {
  font-weight: 300;
  color: white;
  text-align: center;
}
